<link rel="stylesheet" type="text/css" href="static/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d22cf1bdb0.js" crossorigin="anonymous"></script>
<div class="icon">
<i class="fa-solid fa-wifi fa-2xl"></i>
</div>
<div class="results">
<h1>Cafés in {{ cafes[0][3] }}, {{ cafes[0][4] }}</h1>
</div>
{% for cafe in cafes %}
    <div class="cafe">
        <h3>{{ cafe[1] }}</h3>
        <p>{{ cafe[2] }}</p>
        <p>{{ cafe[6] }}</p>
        <p>{{ cafe[7] }}</p>
        <p>{{ "Free Wi-Fi available" if cafe[8] else "" }}</p>
    </div>
{% endfor %}
<div class="return">
  <a href="/" target="_self" title="Return Home">Search Again</a>
</div>
